doctype html
html
  head
    meta(charset='utf8')
    title= title
    link(rel='stylesheet', href='/stylesheets/mathquill.css')
  body
    div(class='render') !{content}
    script(src='/javascripts/utils/tools.js')
    script(src='/javascripts/formula/formula.js')
